footer .button {
    padding: 15px 25px;
    font-size: 15px;
    width: 150px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #00f482;
    border: none;
    border-radius: 30px;
  }
    
  
  
  h2{color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
  }
  
  h3 { 
    color: #5b5971;
    font-weight: light;
    font-size: 11px;
    margin: 20 px;
  }
  
  .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
    }