.cabecera {

    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 25px;
    box-sizing: border-box;
  }
  
  .navbar {
    float: right;
    font-family: helvetica;
    font-size: smaller;
    text-decoration: none;
    padding-right: 30px;
  }
  
  div.nav {
    display: flex;
    align-items: center;
    padding-left: 180px;
  }
  
  .nav p { color: white;
           font-weight: bold;
  
  }
  
  .logo {
    float: left;
    padding-right: 180px;
  }
  .navbar:hover {
    color: #61f96b;
  }
  @media (max-width: 1000px) { 
    .cabecera {
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
    }

    .logo {
      padding-top: 50px;
      width: 180px;
      height: 50px;
      padding-left: 65%;
    }
  }