.elementomusical {
  height: 50vh;
  width: 75vh;
  position: relative;
}
.imgdrum{
  z-index: -2;
  position: relative !important;
}
.botones{
  top: 4vh;
  z-index: 2;
  position: absolute !important;
}
.elementomusical button{
  padding: none;
  cursor: pointer;
  border-radius: 100px;
  background-color: rgb(147, 146, 146);
  top: 1vh;
  z-index: 2;
}
.sonidosA {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 6vh;
  top: -12px;
}

.uno{
  position: relative;
  width: 10px;
  height: 10px;
  right: 42px; 
  padding:6vh;
  top: 1vh;
  bottom: 0vh;
}
.dos{
  position: relative;
  width: 15px;
  height: 15px;
  left:2vh;
  padding: 6vh;
  top:2vh
}
.tres{
  position:relative;
  width: 50px;
  height: 50px;
  left: 6vh;
  top:2vh;
  padding: 8vh;
}
.sonidosB {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 23vh;
    gap: 2vh;
    top: 4vh;
}
.b{
  position:relative;
  background-color: #4D4B63 !important;
  width: 35px;
  height: 35px;
  left: -1vh;
  top: 8vh;
  padding: 78px;
}
.bs{
  position:relative;
  width: 35px;
  height: 35px;
  left: 0vh;
  top: 8vh;
  padding: 8vh;
}
.sonidosC {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 58vh;
  top: -14px;
}
.unoc{
  position: relative;
  width: 10px;
  height: 10px;
  left: 8vh; 
  padding:6vh;
  top:6vh;
}
.dosc{
  position: relative;
  width: 15px;
  height: 15px;
  left:2vh;
  padding: 6vh;
  top:2vh;
}
.tresc{
  position: relative;
  width: 50px;
  height: 50px;
  right: 6vh;
  top: 2vh;
  padding: 8vh;
}
