@import url("./header.css");
@import url("./footer.css");
@import url("./maintext.css");
@import url("./mainheroimage.css");

* {
  font-family: Helvetica;
  padding: 0%;
}
body {
  background-color: rgb(1, 0, 32);
  padding: 0%;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  display: flex;
  gap: 40vh;
}
