* {
  font-family: Helvetica;
  padding: 0%;
}
body {
  background-color: rgb(1, 0, 32);
  padding: 0%;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
.cabecera {

  display: flex;
  justify-content: space-around;
}

.navbar {
  float: right;
  font-family: helvetica;
  font-size: smaller;
  text-decoration: none;
  padding-right: 30px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  float: left;
}
.navbar:hover {
  color: #61f96b;
}
.main {
  display: flex;
  gap: 40vh;
}
.info {
  background-color: rgba(17, 0, 255, 0);
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 115px;
  padding-top: 50px;
}
.letra1 {
  background-color: rgba(13, 0, 194, 0);
  display: flex;
  text-align: center;
  font-size: larger;
  height: 35%;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 40px;
  padding-bottom: 150px;
  padding-top: 40px;
}
.letra2 {
  background-color: rgba(12, 2, 155, 0);
}
p {
  font-size: 11px;
}
.letra3-boton {
  background-color: rgba(12, 2, 155, 0);
  width: 200px;
  height: 100px;
}
.boton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: green;
  border: none;
  border-radius: 15px;
}
.boton:hover {
  background-color: green;
}

.elementomusical {
  background-image: url(/images/drumkit.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 75vh;
  position: relative;
}

.elementomusical button{
  padding: 50px;
  cursor: pointer;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
}

.sonidosA{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 5vh;
}

.sonidosB{
  position: absolute;
  display: flex;
  justify-content: center;
  left: 27vh;
}
.sonidosC{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 57vh;
}

footer .button {
  margin: 40px;
  background-color: #61f96b;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
