@import url("./header.css");
@import url("./footer.css");
@import url("./maintext.css");
@import url("./mainheroimage.css");

* {
  font-family: Helvetica;
  padding: 0%;
}
body {
  background-color: rgb(1, 0, 32);
  padding: 0%;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 390px) {
  .cabecera {
    display: flex;
    flex-direction: column;
  }

  .logo {
    padding-top: 25px;
    width: 100px;
    height: 25px;
    margin-left: 50px;
  }
  div.nav {
    display: flex;
  }
  .main{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .elementomusical {
    height: 30vh;
    width: 190px;
    position: relative;
  }
  img.imgdrum{
    width: 190px;
    height: 20vh;
    z-index: -2;
    position: relative !important;
  }
  .botones{
    top: 0vh;
    z-index: 2;
    position: absolute !important;
  }
  .elementomusical button{
    padding: none;
    cursor: pointer;
    border-radius: 100px;
    background-color: rgb(248, 198, 198);
    top: 0vh;
    z-index: 2;
  }
}
