* {
  font-family: Helvetica;
  background-color: darkblue;
  padding: 0%;
}
.cabecera {
  background-color: rgba(255, 255, 255, 0.74);
  display: flex;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 40%;
}
 
  
  .navbar{float:right;
    font-family: helvetica;
    font-size: smaller;
    text-decoration: none;
    padding-right: 30px;
}


.logo  {float:left;
        width: 10%;
        height: auto;
      

}
.main {
  background-color: aliceblue;
  width: 20%;
  height: 20%;
}
footer .button{
  margin: 40px;
  background-color: white;

}
