* {
  font-family: Helvetica;
  background-color: darkblue;
  padding: 0%;
}
.cabecera {
  background-color: rgba(255, 255, 255, 0.74);
}
.main {
  background-color: aliceblue;
}
footer .button{
  margin: 40px;
  background-color: white;

}
