* {
  font-family: Helvetica;
  background-color: darkblue;
  padding: 0%;
}
.cabecera {
  background-color: rgba(255, 255, 255, 0.74);
}
.main {
  background-color: aliceblue;
  width: 20%;
  height: 20%;
}
